html, body {
  height: 100%;
  margin: 0;
}
.page-container {
  padding-bottom: 20px;
  min-height: 100%;
  margin: 0 auto -30px;
}
footer {
  height: 30px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.push {
  height: 30px;
}
.table-header {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.sortorder:after {
	content: '\25bc';
}

.sortorder.reverse:after {
	content: '\25b2';
}
td {
	vertical-align: center;
}